
/* UPDATED CSS */

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.top-half {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
}

.firstbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: auto;
    margin-top: 6vh;
    background-color: rgb(255, 75, 105);
    color: white;
    font-size: 3vw;
    font-weight: 700;
    border-radius: 15px;
    width: 70vw;
}

.banner-btn {
    color: white;
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 1vw;
    padding: 10px 20px;
}

.banner-btn:hover {
    border: 2px solid white;
    cursor: pointer;

}

.pic-ban {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    width: 70vw;
    margin: auto;
    color: white;
    font-size: auto;
    background-image: url("./images/cabin.jpg");
    border-radius: 15px;
    height: 70vh;
    background-repeat: no-repeat;
    margin-top: 10%;
    overflow: visible;
    margin-bottom: 5%;
    background-position: center center;
}

@media (max-width: 900px) {
    .pic-ban {
        height: 60vh;
    }
}

@media (max-width: 500px) {
    .pic-ban {
        height: 30vh;
    }
}

.pic-ban-txt {
    font-size: 3vw;
    font-weight: 600;
    
}

.pic-ban-btn {
    padding: 1.1% 2%;
    border-radius: 40px;
    border-style: none;
    color: purple;
    font-size: 1vw;
    font-weight: 700;
}

.pic-ban-btn:hover {
    cursor: pointer;
}

.next-trip {
    display: flex;
    margin: 0, auto;
}

.trip-title {
    font-size: 3vw;
    font-weight: 600;
    flex-direction: row;
    margin-left: 10vw;
}


.tabs {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80vw;
}

.tab {
    color: white;
    width: 18.4vw;
    display: flex;
    flex-direction: column;
    padding: 0.9vw;
}

.tab-lower {
    background-color: rgb(255, 75, 105);
    border-radius: 0px 0px 10px 10px;
    height: auto;
    padding-bottom: 2vh;
}

@media (width: 1366px) {
    
}

.tab-img {
    border-radius: 10px 10px 0px 0px;
    width: 18.4vw;
}

@media (width: 250px) {
    .tab-img {
        border-radius: 5px 5px 0px 0px;
    }
}

.location {
    font-size: 1.9vw;
    margin-left: 0.3vw;
}

.miles {
    font-size: 1.4vh;
    margin-left: 0.3vw;
    margin-top: -1vw;
    
} 
