.container {
    display: flex;
    flex-direction: column;
}

.top-half{
    background-color: black;
    height: 120vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1600px) {
    .top-half {
        height: 110vh;
    }
}

@media (max-width: 1200px) {
    .top-half {
        height: 100vh;
    }
}

@media (max-width: 1000px) {
    .top-half {
        height: 80vh;
    }
}

@media (max-width: 800px) {
    .top-half {
        height: 60vh;
    }
}

@media (max-width: 600px) {
    .top-half {
        height: 45vh;
    }
}

@media (max-width: 500px) {
    .top-half {
        height: 40vh;
    }
}

@media (max-width: 450px) {
    .top-half {
        height: 35vh;
    }
}

@media (max-width: 400px) {
    .top-half {
        height: 30vh;
    }
}

@media (max-width: 300px) {
    .top-half {
        height: 25vh;
    }
}

.firstbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: auto;
    margin-top: 6%;
    background-color: rgb(255, 75, 105);
    color: white;
    /* font-size: 5vh; */
    font-size: 3vw;
    font-weight: 700;
    border-radius: 15px;
    width: 70vw;
}

.banner-btn {
    color: white;
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 1vw;
    padding: 10px 20px;
}

.banner-btn:hover {
    border: 2px solid white;
    cursor: pointer;

}

.pic-ban {
    
    /* position: absolute; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    width: 80vw;
    margin: auto;
    margin-top: -35rem;
    /* left: 5vw;
    top: 60vh; */
    height: 70vh;
    
    color: white;
    font-size: auto;
    
}

.pic-ban-img {
    height: auto;
    max-height: 70vh;
    border-radius: 15px;
    width: 100%;
}


.pic-ban-txt {
    position: absolute;
    font-size: 3vw;
    font-weight: 600;
    margin: 10%;

}

.pic-ban-btn {
    position: absolute;
    align-items: flex-end;
    justify-content: center;
    padding: 1.1% 2%;
    border-radius: 40px;
    border-style: none;
    color: purple;
    font-size: 1vw;
    font-weight: 700;
    margin: 4%
    /* width: 12vw; */   
}

.pic-ban-btn:hover {
    cursor: pointer;
}

.next-trip {
    display: flex;
    margin: 0, auto;
}

.trip-title {
    font-size: 3vw;
    font-weight: 600;
    flex-direction: row;
    margin-left: 10vw;

  
}


.tabs {
    
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80vw;

}

.tab {

    color: white;
    width: 18.4vw;
    display: flex;
    flex-direction: column;
    padding: 0.9vw;
}

.tab-lower {
    
    background-color: rgb(255, 75, 105);
    border-radius: 0px 0px 10px 10px;
    height: auto;
    padding-bottom: 2vh;
}

.tab-img {
    border-radius: 10px 10px 0px 0px;
    width: 18.4vw;
    
}

.location {
    font-size: 1.9vw;
    margin-left: 0.3vw;
}

.miles {
    font-size: 1.4vh;
    margin-left: 0.3vw;
    margin-top: -1vw;
    
}