.container {
    
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.title {
    
    align-items: flex-end;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 0;
    margin-left: 10vw;
    
}

.tab {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* margin-left: 2vw; */
}

.tabs {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    /* margin: auto; */
    
}

/* .tab-img {
    

    height: auto;
    width: 40vw;
    border-radius: 20px;
    
} */

.tab-inner {
    padding: 1vw;
    background-image: url('./images/caves.jpg');
    height: auto;
    width: 36vw;
    border-radius: 2vw;
    /* margin: auto; */
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.tab-txt {
    color: white;
    font-size: 2.5vw;
    font-weight: 600;
    width: 20vw;
}

.tab-btn {
    padding: 5% 5%;
    font-size: 0.9vw;
    font-weight: 550;
    border-radius: 10px;
    border-style: none;
    /* margin-top: -2vh; */
}

.tab-btn {
    cursor: pointer;
}

.gift-cards {
    height: 30vh;
    font-size: 2.5vw;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5vh;
    

    
}

.gift-btn {
    padding: 3% 4.5%;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 1vw;
}

.gift-btn {
    cursor: pointer;
}
.cards {
    display: flex;
    margin-left: 0.5vw;
}

.card1 {
    height: 20vh;
    border-radius: 20px;
    transform: rotate(-9deg);
    width: 15vw;
    z-index: 1;
}

.card2 {
    height: 20vh;
    border-radius: 20px;
    transform: rotate(-18deg);
    width: 15vw;
    z-index: -1;
}

.card3 {
    height: 20vh;
    border-radius: 20px;
    transform: rotate(18deg);
    width: 15vw;
    z-index: -2;
}

@media (max-width: 1400) {
    .card1 {
        height: 15vh;
        width: 10vw;
    }
    .card2 {
        height: 15vh;
        width: 10vw;
    }
    .card3 {
        height: 15vh;
        width: 10vw;
    }
}

@media (max-width: 1000) {
    .card1 {
        height: 10vh;
        width: 5vw;
    }
    .card2 {
        height: 10vh;
        width: 5vw;
    }
    .card3 {
        height: 10vh;
        width: 5vw;
    }
}

@media (max-width: 800) {
    .card1 {
        height: 8vh;
        width: 4vw;
    }
    .card2 {
        height: 8vh;
        width: 4vw;
    }
    .card3 {
        height: 8vh;
        width: 4vw;
    }
}

.last-tab {
    /* display: flex;
    margin: auto;
    width: 80vw;
    height: 85vh;
    flex-direction: column; */
    display: flex;
    width: 80vw;
    height: 85vh;
    background-image: url('./images/women-road-brunette-flowers-wallpaper.jpg');
    margin: auto;
    margin-top: 5vh;
    border-radius: 20px;
    
    
}

.last-tab-img {
    object-fit: cover;
    height: auto;
    
    
}

.last-tab-inner {
    padding: 5%;

}

.last-tab-txt {
    display: flex;
    font-size: 4vw;
    font-weight: 600;
    color: white;
    
    width: 10vw;
}

.last-tab-btn {
    border-style: none;
    border-radius: 20px;
    padding: 10% 12%;
    font-size: 0.9vw;
    font-weight: 550;
}

.last-tab-btn {
    cursor: pointer;
}