.root {
    --font-size: 0.5vw;
}

.nav-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 1vh;
    color: white;
    
}

.airbnb-logo {
    max-width: 6vw;
    justify-content: flex-start;
}

.span-container {
    display: flex;
    justify-content: center;
}

.right-nav {
    position: relative;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    

}

.span-el {
    margin-right: 1.5vw;
    font-size: 0.9vw;
}

.span-el:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
    color: rgb(196, 196, 196);
    border-bottom-style: 1vw;
}

.right-span-el {
    margin-right: 0.8vw;
    font-size: 0.8vw;
}

.right-span-el:hover {
    padding: 1vh;
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
    align-items: center;
    
    
}

.profile-container {
    position: relative;
    display: flex;
    border-radius: 20px;
    width: 3vw;
    padding: 10%;
    background-color: white;
    align-items: center;
    justify-content: center;




}

.bars {
    margin: 5%;
    margin-right: 25%;
    color: black;
    font-size: 1vw;
}

.profile {
    /* font-size: 140%; */
    font-size: 1.4vw;
    color: grey;
    
}

