.footer-container {
    position: absolute;
    display: flex;
    height: 40vh;
    top: 450vh;
    justify-content: flex-start;
    left: 10vw;
    width: 80vw;
    
}

.title {
    font-size: 1.5vw;
    font-weight: 500;
}


ul, li {
    text-decoration: none;
    list-style: none;
}

h4 {
    font-size: 1vw;
}

.locations {
    display: flex;
    flex-direction: column;
    font-size: 0.9vw;
    
}

.li-wrapper {
    display: flex;
    flex-direction: row;
    width: 77.5vw;
    justify-content: space-between; 
}

.show-more-btn {
    font-size: 0.9vw;
}

.show-more-btn:hover {
    cursor: pointer;
    
}