.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;


}



.inputbar {
    border-radius: 30px 0px 0px 30px;
    width: 10vw;
    border-style: none;
    /* padding: 3% 1%; */
    padding: 10px 10px ;
    outline: none;
}

.inputbar-start {
    outline: none;
    width: 10vw;
    border-style: none;
    padding: 10px 10px;
}
.inputbar-mid {
    outline: none;
    width: 10vw;
    border-style: none;
    padding: 10px 10px;
}
.inputbar-end {
    outline: none;
    border-radius: 0px 30px 30px 0px;
    width: 10vw;
    border-style: none;
    padding: 10px 10px;
}

.inputbar:hover {
    background-color: rgb(230, 230, 230);
}




.inputbar-start:hover {
    background-color: rgb(230, 230, 230);
}

.inputbar-mid:hover {
    background-color: rgb(230, 230, 230);
}

.inputbar-end:hover {
    background-color: rgb(230, 230, 230);
}

.searchbtn {
    position: relative;
    right: 2vw;
    background: rgb(255, 75, 105);
    outline: none;
    border-style: none;
    border-radius: 50%;
    height: 3vh;
    color: white;
    
}