.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;


}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: -4.2vh;
    margin-right: 0.5vw;
}

@media (width: 1000px) {
    .btn-wrapper {
        margin-top: -4.5vh;
    }
}

@media (width: 900px) {
    .btn-wrapper {
        margin-top: -4.5vh;
    }
}

@media (width: 800px) {
    .btn-wrapper {
        margin-top: -4.3vh;
    }

}

@media (width: 700px) {
    .btn-wrapper {
        margin-top: -4.9vh;
    }

}

@media (width: 500px) {
    .btn-wrapper {
        margin-top: -4vh;
    }

}

@media (width: 400px) {
    .btn-wrapper {
        margin-top: -3.5vh;
    }

}

@media (width: 300px) {
    .btn-wrapper {
        margin-top: -3.4vh;
    }

}

.inputbar {
    border-radius: 30px 0px 0px 30px;
    width: 10vw;
    border-style: none;
    /* padding: 3% 1%; */
    padding: 2vh 1vw;
    outline: none;
}

.inputbar-start {
    outline: none;
    width: 10vw;
    border-style: none;
    padding: 2vh 1vw;
}
.inputbar-mid {
    outline: none;
    width: 10vw;
    border-style: none;
    padding: 2vh 1vw;
}
.inputbar-end {
    outline: none;
    border-radius: 0px 30px 30px 0px;
    width: 10vw;
    border-style: none;
    padding: 2vh 1vw;
}

.inputbar:hover {
    background-color: rgb(230, 230, 230);
}




.inputbar-start:hover {
    background-color: rgb(230, 230, 230);
}

.inputbar-mid:hover {
    background-color: rgb(230, 230, 230);
}

.inputbar-end:hover {
    background-color: rgb(230, 230, 230);
}



.searchbtn {
    background: rgb(255, 75, 105);
    outline: none;
    border-style: none;
    border-radius: 50%;
    height: auto;
    padding: 0.6%;
    width: auto;
    color: white;
    font-size: 1.4vh;
    align-items: center;
}

.searchbtn:hover {
    background: rgb(255, 50, 84);
    cursor: pointer;
}